.FavoriteButton {
  border: 0;
  padding: 0;
  height: 0px;
  width: 0px;
  margin: 10px 50px 0 0;
  z-index: 1;
  display: block;
  align-self: flex-end;
  font-size: 32px;
  cursor: pointer;
  transition: .2s linear;
  color: white;
  background-color: transparent;
}

.favorite {
  color: yellow;
  font-size: 32px;
  cursor: pointer;
  transition: .2s linear;
}

.favorite:hover {
  cursor: pointer;
  transition: .2s linear;
  transform: scale(1.3);
  color: yellow;
}

.FavoriteButton:hover {
  cursor: pointer;
  transition: .2s linear;
  transform: scale(1.3);
  background-color: transparent;
}