.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1%;
    width: 85%;
    margin: 10px auto;
    background-color: black;
}

.button-container {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.page-btns {
    font-size: 15px;
    padding: 0;
    height: 25px;
    margin: 2px;
    width: 125px;
    border: 2px solid;
    border-radius: 15px;
    text-transform: capitalize;
    transition: .3s;
    color: yellow;
    background-color: transparent;
}

.page-btns:focus { 
  outline: none; 
}