.Card {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border: 2px solid;
}

.people {
  border-color: blue;
}

.planets {
  border-color: green;
}

.vehicles {
  border-color: red;
}

.card-thing {
  height: 50px;
  color: yellow;
}