.Card {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 20px;
}

.people {
  border-color: blue;
}

.planets {
  border-color: green;
}

.vehicles {
  border-color: red;
}

.card-name {
  margin-top: 70px;
  border-radius: 10px;
}

.card-thing {
  height: 50px;
  color: yellow;
  padding-left: 20px;
  width: 260px;
}