.NavButton {
  font-size: 30px;
  padding: 0;
  height: 50px;
  margin: 2px;
  width: 250px;
  border: 2px solid;
  border-radius: 30px;
  text-transform: capitalize;
  transition: .3s;
  color: yellow;
  background-color: transparent;
}

.people {
  border-color: blue
}

.planets {
  border-color: green
}

.vehicles {
  border-color: red
}

.NavButton:hover {
  transform: scale(1.2);
  transition: .3s;
}