.scroll-container {
  position: absolute;
  width: 50%;
  height: 60%;
  bottom: 0;
  left: 25%;
  font-size: 5vh;
  text-align: justify;
  transform: perspective(200px) rotateX(30deg);
  background-color: black;
  color: yellow;
}

.scroll {
  position: absolute;
  top: 100%;
  animation: scroll 30s linear 1s infinite;
}

@keyframes scroll {
  0% {
    top: 70%;
  }

  100% {
    top: -200%;
  }
}