.Header {
  width: 100%;
  height: 25%;
  background-color: black;
  color: yellow;
}

.container {
  width: 600px;
  height:15%;
  font-size: 100px;
  display: flex;
  margin: auto;
  transition: .3s;
  background-color: transparent;
}

.container:hover {
  transition: .3s;
  transform: scale(1.2);
}