.Header {
  width: 100%;
  height: 20%;
  font-size: 140px;

}

.container {
  width: 50%;
  display: flex;
  margin: auto;
  transition: .3s;
  background-color: transparent;
}

.container:hover {
  transition: .3s;
  transform: scale(1.2);
}